.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
application/config/database.php
application/config/database aa.php
application/config/database.php
resources/labels/085157563305/1.png
resources/labels/085157563305/2.png
resources/labels/085157563305/3.png
resources/labels/085157563305/4.png
resources/labels/085157563305/5.png
application/config/database a.php
